<!-- <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="container-sm">
                <h4><u><b>Name</b></u>: {{ product.name }}</h4>
            </div>
            <div class="container-sm">
                <h4><u><b>Short Description</b></u>: {{ product.description }}</h4>
            </div>
            <div class="container-sm">
                <h4><u><b>Detail Description</b></u>: {{product.detailedDesc }}</h4>
            </div>
            <div class="container-sm">
                <h4><u><b>Category</b></u>: {{product.category }}</h4>
            </div>
            <div class="container-sm">
                <h4><u><b>Starting Price</b></u>: ${{product.startingPrice }}</h4>
            </div>
            <div class="container-sm">
                <h4><u><b>Bid End Date</b></u>: {{ product.endDate }}</h4>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="container-sm">
                <img src="{{ product.img }}" alt="test" class="img-responsive" style="max-height: 300px;">
            </div>
        </div>
    </div>
</div> -->
